<p>
  <%= render :partial => "field_display_audio", :locals => {:field => audio_upload_box, :child => @child}%>
</p>
<div class="file" id="files">
<p>
  <%= label_tag  "Add new recording" %>
  <%= file_field_tag "child[audio]0" %>
  <%= link_to  image_tag("icon-add.png", :title => "Attach another Audio file"), "#", :id => "addRecording" %>
  <% if audio_upload_box.help_text.present?%> 
  <br />
  <span class='help-text-container'>
    <span class='help-text'>
      <%= audio_upload_box.help_text%>
    </span>
  </span>
  <% end%>
</p>
</div>